In [1]:
import pandas as pd
from pyspark.sql.functions import udf, col
import pyspark
from pyspark.sql import SQLContext
from pyspark.sql.functions import hour, mean
from pyspark.sql.types import *

# This notebook is for feature measurement 

sc = pyspark.SparkContext()

path_x = '/Users/tiegsti.solomon/Downloads'
path_y = '/Users/tiegsti.solomon'

events = sc.textFile(path_x+"/events.csv")
doc_topics = sc.textFile(path_y+"/nodes_recovered.csv")

In [2]:
# remove header train
rdd_events_head = events.filter(lambda l: "display_id" in l)
rdd_events = events.subtract(rdd_events_head)

# remove header test
rdd_topics_head = doc_topics.filter(lambda l: "uuid" in l)
rdd_topics = doc_topics.subtract(rdd_topics_head)

rdd_e = rdd_events.map(lambda a: a.split(","))
rdd_t = rdd_topics.map(lambda a: a.split(","))

sqlContext = SQLContext(sc)
events_ = sqlContext.createDataFrame(rdd_e) # schema err
topics_ = sqlContext.createDataFrame(rdd_t)
topics_.show(5)
events_.show(5)

events_dfp = events_.toPandas()
topics_dfp = topics_.toPandas()

+------+---+---------+----------+
|    _1| _2|       _3|        _4|
+------+---+---------+----------+
| 11395|  0| 37.09024|-95.712891|
|280649|  1| 37.09024|-95.712891|
|  6923|  0| 37.09024|-95.712891|
|175534|  0|-0.023559| 37.906193|
|221749|  1| 37.09024|-95.712891|
+------+---+---------+----------+
only showing top 5 rows

+-------+--------------+-------+---------+---+---------+
|     _1|            _2|     _3|       _4| _5|       _6|
+-------+--------------+-------+---------+---+---------+
|3690712|b1fd1d05c4b66a|1027644|236206265|  2|US>NJ>504|
|9745476|e4633fc85ef2a1|2140078|656541359|  1|US>TN>557|
|6263905|2d7d69b1aaa032|2181607|418207638|  2|US>IL>610|
|4266820|f745eda9d0ea54|2011906|280124441|  2|       PH|
|8006793|9b9043346efd56|1788292|554591670|  1|US>FL>528|
+-------+--------------+-------+---------+---+---------+
only showing top 5 rows

In [3]:
def convert_id_list(doc_ids):
    return ' '.join(d.split(':')[1] for d in doc_ids.split(' '))

events_dfp = events_dfp['_3'].unique()
doc_ids = pd.DataFrame(events_dfp, columns = ['_3'])
doc_ids = doc_ids.rename(index=str, columns={'_3':'_1'})
topic_ids = pd.DataFrame(topics_dfp, columns = ['_1','_2'])

merged_dfp = doc_ids.merge(topic_ids, how='right')

In [4]:
doc_ids

            _1
0      1027644
1      2140078
2      2181607
3      2011906
4      1788292
5       435161
6      1569589
7      2115948
8      2245558
9      2320484
10     2508678
11     1155107
12     1774839
13     2288021
14     2765297
15      357793
16     2516002
17     1947340
18     2722949
19      679010
20     2192646
21      496504
22     2144597
23     2254187
24       82283
25      160937
26      157455
27     1648348
28     1179111
29     1304548
...        ...
27092  2144057
27093  2599127
27094  1864578
27095  1867459
27096  2344676
27097  1352600
27098  2525158
27099  1418496
27100  1994560
27101  2486564
27102  1212664
27103    65485
27104  1785426
27105  2428251
27106  2155346
27107  1495772
27108  2403790
27109   407158
27110  2310917
27111  2205390
27112  2418974
27113  2463841
27114   199160
27115   789765
27116  2080212
27117  2345633
27118  2030726
27119  2773410
27120   715530
27121  2321779

[27122 rows x 1 columns]